<style>
  .p1 { font-size: 0.875rem; } .mt-3 { margin-top: 3rem; }
</style>
<p class='p2 mt-3'>If you have any questions, reach out to us at
  hello@onghub.com. Need help? Check out our
  <a href='/' target='_blank'>FAQs</a>
  and
  <a href='/' target='_blank'>Terms and conditions</a>.
</p>