<div>
  <h3>
    Buna ziua,
  </h3>
  <p>
    Solicitarea de a crea un cont in ONG Hub pentru organizatia ta a fost
    trimisa cu succes. Echipa ONG Hub va verifica informatiile primite si
    imediat ce este aprobata vei primi o notificare cu detalii despre accesarea
    ecosistemului de solutii ONG Hub. Daca ai intrebari, ne poti contacta la
    contact@onghub.ro.
  </p>
  <p>Cu drag,</p>
  <p>Echipa ONG Hub</p>
</div>