<div>
  <h3>
    Buna ziua,
  </h3>
  <br />
  <p>
    O noua solicitare de creare de profil in ONG Hub a fost creata in sistem.
  </p>
  <br />
  <p>Cu drag,</p>
  <br />
  <p>Echipa ONG Hub</p>
</div>