<div>
  <h3>
    Buna ziua,
  </h3>
  <p>
    Solicitarea ta pentru stergerea organizatiei a fost aprobata. Pentru mai
    multe informatii, trimite un email catre contact@onghub.ro.
  </p>
  <p>Cu drag,</p>
  <p>Echipa ONG Hub</p>
</div>