<div>
  <h3>
    Buna ziua,
  </h3>
  <br />
  <p>
    Administratorul organizatiei
    {{orgName}}
    doreste stergerea organizatiei sale.
  </p>
  <br />
  <p>Cu drag,</p>
  <br />
  <p>Echipa ONG Hub</p>
</div>