<div>
  <h3>
    Buna ziua,
  </h3>
  <p>
    Organization
    {{organizationName}}
    a cerut stergerea applicatiei
    {{applicationName}}. Please take action.
  </p>
  <p>Cu drag,</p>
  <p>Echipa ONG Hub</p>
</div>