<div>
  <h3>
    Buna ziua,
  </h3>
  <p>
    Profilul tau ONG Hub a fost creat cu succes. Incepand de acum vei putea
    intra in cont si vei avea acces la toate aplicatiile disponibile pro-bono in
    ecosistemul dedicat societatii civile. Daca ai nevoie de ajutor, ne gasesti
    la contact@onghub.ro.
  </p>
  <p>Cu drag,</p>
  <p>Echipa ONG Hub</p>
</div>