<div>
  <h3>
    Buna ziua,
  </h3>
  <br />
  <p>
    Solicitarea ta de a crea un profil in ONG Hub a fost respinsa. Pentru mai
    multe detalii te rugam sa ne scrii la adresa contact@onghub.ro.
  </p>
  <br />
  <p>Cu drag,</p>
  <br />
  <p>Echipa ONG Hub</p>
</div>