<div>
  <h3>
    Buna ziua,
  </h3>
  <p>
    Contul organizatiei
    {{orgName}}
    a fost restrictionat de catre super-admin. Pentru mai multe informatii
    trimite un mail catre contact@onghub.ro.
  </p>
  <p>Cu drag,</p>
  <p>Echipa ONG Hub</p>
</div>