@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('./assets/fonts/TitilliumWeb-SemiBold.ttf');
}

@layer base {
  html {
    font-family: 'Roboto';
  }

  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .main-menu-item {
    @apply h-10 text-gray-50 hover:bg-menu-green/[0.15]  hover:text-green flex items-center px-0 py-2 font-medium rounded-md;
  }

  .save-button {
    @apply inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .edit-button {
    @apply inline-flex items-center px-4 py-2 shadow-sm border text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-yellow-50 focus:outline-none focus:bg-white focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }

  .form-item-label {
    @apply font-normal text-base text-gray-700;
  }

  .form-item-helper-text {
    @apply text-sm font-normal;
  }
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Overrride default overflow for datatables to allow popovers */
.gelpCx {
  overflow-x: initial !important;
  overflow-y: initial !important;
}

/* data table overrides */
.rdt_TableHeadRow > .rdt_TableCol {
  @apply bg-gray-50 text-sm font-titilliumBold text-gray-900 border-gray-300;
}

.rdt_TableHeadRow > .rdt_TableCol > div {
  @apply py-3.5 pl-2 pr-3;
}

.rdt_TableBody > .rdt_TableRow > .rdt_TableCell > div {
  @apply whitespace-nowrap py-7 pl-2 pr-2 text-sm font-normal text-gray-700 sm:pl-2;
}

.rdt_TableCol_Sortable svg {
  @apply ml-1;
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
}
